html, body {
  background-color: #282c34;
  overflow: hidden;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0px;
}

.logo {
  height: 5vmin;
  pointer-events: none;
}

.App-header {
  margin-top: 50px;
  
}

.content{
  min-height: calc(100vh - 50px - 5vmin);
  align-items: center;
  justify-content: center;
  margin: auto;
  top: 50%;
}

.components {
  min-height: inherit;
  position: relative;
}

.form {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 46%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.form-group {
  margin: 0;
  top: 40%;
  left: 46%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.form-select {
  margin: 0;
  top: 40%;
  left: 46%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.App-link {
  color: #61dafb;
}